<router-outlet />

<div class="flex h-screen">
  <div
    class="m-auto max-w-screen-lg rounded-lg px-6 py-8 ring shadow-xl bg-gray-300 dark:bg-gray-800 ring-gray-900/5"
  >
    <div>
      <span
        class="inline-flex items-center justify-center rounded-md p-2 shadow-lg bg-indigo-500"
      >
        <svg
          class="h-6 w-6 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        ></svg>
      </span>
    </div>

    <h3
      class="mt-5 text-base font-medium tracking-tight text-gray-900 dark:text-white"
    >
      Lorem ipsum dolor.
    </h3>

    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
      egestas nulla et tortor maximus molestie. Integer pretium dictum libero ut
      molestie. Aenean nec massa scelerisque, sagittis lectus eget, ultrices
      dui. Nulla facilisi. Aliquam vestibulum efficitur diam, quis dignissim
      orci fringilla eget. Suspendisse ullamcorper massa purus, quis mattis
      mauris tempor et. Sed gravida lacus non sem suscipit, eget efficitur est
      efficitur. Aliquam auctor sapien nisi, non efficitur mauris venenatis
      ornare. Donec ac ultricies nunc. Sed laoreet porttitor tincidunt. Ut
      dapibus mattis sagittis. Duis porta et est sit amet vestibulum.
      Pellentesque vestibulum ante id arcu venenatis bibendum. Etiam egestas
      posuere erat sed placerat. Vivamus sit amet mi eu velit mollis cursus.
      Suspendisse iaculis odio ut tellus consequat, ac dapibus nisi molestie.
    </p>

    <div class="mt-4 flex justify-center">
      <p-button label="Lorem ipsum" (click)="toggleTheme()" />
    </div>
  </div>
</div>
